:root {
  --primary: #3498db;
  --secondary: #2ecc71;
  --dark: #2c3e50;
  --light: #ecf0f1;
  --white: #ffffff;
  --black: #333333;
  --pickledBluewood: #34495e;
  --darkerSlateGray: #2d3748;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body, html  {
  font-family: 'Poppins', sans-serif;
  background: var(--light);
  color: var(--black);
  line-height: 1.6;
  height: 100%;
  margin: 0;
}

/* container*/
.container {
  display: flex;
}

/* header */
.header-custom{
  background: var(--white);
  padding: 10px 270px;
  border: 1px solid var(--shadow);
  position: fixed;
  top: 0;
  width: 100%;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh; /* full viewport height */
  background: var(--dark);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  z-index: 10; /* make sure it stays on top */
}

/* Main content */
.main-container {
  margin-left: 250px; /* same as sidebar width */
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background: var(--light);
}

/* card body*/
.card-body {
  background: var(--white);  
  border-radius: 0.75rem;
  border: 1px solid var(--shadow);  
  width: 100%;
  /* min-height: 80vh; */
  min-height: calc(100vh - 87px); /* full height minus header + footer */ 

}

/* footer */
.footer-custom{
  background: var(--white);
  padding: 10px 270px;
  border: 1px solid var(--shadow);
  position: static;
  bottom: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .main-container {
    width: 100%;
    padding: 10px;
  }
}